@keyframes logo {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.logo {
  animation-name: logo;
  animation-duration: 500ms;
  animation-delay: 120ms;
  animation-fill-mode: backwards;
}

@keyframes banner {
  from {
    opacity: 0;

  } to {
    opacity: 1;
  }
}

.menu--hamburger,
.banner h4,
.banner h2,
.banner a  {
  animation-name: banner;
  animation-duration: 1s;
}
