@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  background: transparent;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.menu--hamburger {
  position: relative;
  color: #CCC;
  font-size: 30px;
  left: 1730px;
}

.menu--hamburger i {
  margin-top: 8px;
  margin-right: 15px;
}

nav {
  display: none;
}


.banner {
  height: calc(100vh - 100px);
  background-color: #333;
  background-position: bottom;
  overflow: hidden;
}

.banner .sliders {
  width: 300vw;
  height: 100%;
}

.banner .slide1 {
  width: 100vw;
  height: 100%;
  background-image: url('../images/slide01.jpg');
  background-size: cover;
  display: inline-block;
  background-color: rgba(0,0,0,0.7);
}
.banner .slide2 {
  width: 100vw;
  height: 100%;
  background-image: url('../images/slide02.jpg');
  background-size: cover;
  display: inline-block;
  background-color: rgba(0,0,0,0.7);
}
.banner .slide3 {
  width: 100vw;
  height: 100%;
  background-image: url('../images/slide03.jpg');
  background-size: cover;
  display: inline-block;
  background-color: rgba(0,0,0,0.7);
}

.banner .sliders-pointers {
  width: 100vw;
  height: 20px;
  position: absolute;
  margin-top: -100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .pointer {
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.banner .pointer.active {
  background-color: #fff;
}

.banner .slidearea {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;
}

