@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  background: transparent;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.logo {
  position: absolute;
  color: #CCC;
  font-size: 17px;
  top: 50px;
  left: 50px;
  z-index: 2;
}

.logo a {
  font-size: 17px;
  color: #fff;
  text-decoration: none;
}

.logo a:hover {
  color: #CCC;
}

.menu--hamburger {
  position: absolute;
  color: #CCC;
  font-size: 17px;
  left: 1230px;
  top: 50px;
  z-index: 2
}

.menu--hamburger i {
  margin-top: 4px;
  margin-right: 10px;
}


#menu {
  position: fixed;
  width: 0px;
  height: 100vh;
  background: rgba(0,0,0,0.9);
  padding: 20px;
  right: -1065px;
  top: 0;
  transition: all ease 0.3s;
}

.menu-toggle {
  width: 100vw !important;
}

.menu--fecha {
  color: #CCC;
  font-size: 15px;
  font-weight: bold;
  margin-left: 19%;
  cursor: pointer;
}

.menu--fecha:hover {
  color:#000;
}

#menu ul {
  list-style: none;
}

#menu ul li {
  padding-left: 15px;
}

#menu ul li a {
  font-size: 17px;
  color: #454545;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
}

#menu .borda {
  width: 240px;
  height: 2px;
  margin-left: 15px;
  background: #454545;
}


.banner {
  height: calc(100vh - 0px);
  min-width: 50vh;
  background-color: #333;
  background-position: bottom;
  overflow: hidden;
}

.banner .sliders {
  width: 300vw;
  height: 100%;
}

.banner .slide1 { 
  width: 100vw;
  height: 100%;
  background-image: url('../images/slide01.jpg');
  background-size: cover;
  display: inline-block;
  background-color: rgba(0,0,0,0.7);
}
.banner .slide2 {
  width: 100vw;
  height: 100%;
  background-image: url('../images/slide02.jpg');
  background-size: cover;
  display: inline-block;
  background-color: rgba(0,0,0,0.7);
}
.banner .slide3 {
  width: 100vw;
  height: 100%;
  background-image: url('../images/slide03.jpg');
  background-size: cover;
  display: inline-block;
  background-color: rgba(0,0,0,0.7);
}

.banner .sliders-pointers {
  width: 100vw;
  height: 20px;
  position: absolute;
  margin-top: -100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .pointer {
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.banner .pointer.active {
  background-color: #fff;
}

.banner .slidearea {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;
  left: 30%;
  top: -1%
}

.banner h4 {
  letter-spacing: 4px;
  font-size: 15px;
  color: #999;
  font-weight: 300;
  text-transform: uppercase;
}

.banner h4 a {
  color: #CCC;
  text-decoration: none;
}

.banner .borda {
  width: 50%;
  height: 2px;
  background: #999;
  margin-top: 55px;
  margin-bottom: -5px;
}
.banner h2 {
  font-size: 80px;
  padding: 5px;
  font-weight: 300;
}


.area1 {
  position: relative;
  height: 200px;  
  
}

.area2 {
  height:100%;
	opacity:0.8;
	position:relative;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
  background-attachment:fixed;
  background-image:url('../images/bg.jpg');  
}